.main{
    width: 100%;
    display: flex;
}
#d1{
    width: 25%;
    background-color: #BBB6A5;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
#d2{
    width: 75%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 82px;
    background-color: #8c9491;
}
#d2::-webkit-scrollbar,#d1::-webkit-scrollbar,.card::-webkit-scrollbar{
    display: none;
}
.width-adj{
    width: 25%;
    margin-top: 8%;
}
.n1{
    width: 10%;
}
.nc{
    width: 80%;
    margin-top: 36%;
}
#d1,#d2{
    height: 100vh;
}
h2{
    text-align: center;
}

/* add task */
.card {
    width: 300px;
    min-height: 254px ;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: scroll;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
  }
  
  .card > * {
    margin: 0;
  }
  
  .card__title {
    color: #333;
  }
  
  .card__content {
    font-size: 13px;
    line-height: 18px;
    color: #333;
  }
  
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card__form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
  }
  
  .card__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  
  .sign-up:hover {
    opacity: 0.8;
  } 

  /* show card */
  .card {
    box-sizing: border-box;
    width: 100%;
    min-height: 500px ;
    height: auto;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) ;
  }

  /* darg and drop */
  .example-list {
    width: 90%;
    border: solid 1px #ccc;
    min-height: 60px;
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: transparent;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  /* adding */
  .alerting{
    color: red;
  }
  .input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }
  
.chk{
  color: green;
}
.pen{
  color: blue;
}
  